<%- include('layouts/head',{title: 'Trung tâm điều khển'}) %>
<!-- Main content -->
<section class="content">
	<div class="container-fluid">

		<div class="h2">Chào mừng bạn đến với trang quản trị</div>
		<div class="fs-italic">Chúc một ngày tốt lành</div>

	</div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- Footer Start -->
<%- include('partials/footer') %>
<!-- Footer Bottom End -->
<%- include('layouts/foot')%>