<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="/">
                        <img src="/img/Avnendv-removebg-preview2.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <form action="/search" method="get">
                    <div class="search">
                        <input type="text" placeholder="Tìm kiếm ..." name="search_product">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="user">
                    <a href="/wishlish" class="btn wishlist">
                        <i class="fa fa-heart"></i>
                        <span>(0)</span>
                    </a>
                    <a href="/cart" class="btn cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span>(0)</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>