<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="/" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="/" class="nav-item nav-link active">Trang chủ</a>
                    <% categories.forEach(element=> { %>
                        <a class="nav-item nav-link" href="/<%= element._id %> ">
                            <%= element.name %>
                        </a>
                        <% }) %>
                </div>
                <div class="navbar-nav ml-auto">
                    <% if (customer) { %>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <%= customer.user_name %>
                            </a>
                            <div class="dropdown-menu">
                                <a href="/user-info" class="dropdown-item">Thông tin</a>
                                <a href="/logout" class="dropdown-item">Đăng xuất</a>
                            </div>
                        </div>
                        <% } else { %>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tài khoản</a>
                                <div class="dropdown-menu">
                                    <a href="/login" class="dropdown-item">Đăng nhập</a>
                                    <a href="/register" class="dropdown-item">Đăng kí</a>
                                </div>
                            </div>
                            <% } %>
                </div>
            </div>
        </nav>
    </div>
</div>