<%- include('layouts/head') %>
    <!-- Cart Start -->
    <div class="cart-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 offset-md-2">
                    <div class="cart-page-inner">
                        <div class="row">
                            <p class="location col-10">Đơn hàng của tôi</p>
                            <p class="text-right col-2"><span>Đang giao</span></p>
                        </div>
                        <div class="row">
                            <div class="col-2 image">
                                <img src="/img/category-1.jpg" alt="ảnh">
                            </div>
                            <div class="col-8">
                                <p>Quần áo nam</p>
                                <p>Phân loại hàng: Đen, 40</p>
                                <p>Số lượng: 2</p>
                            </div>
                            <div class="col-2 text-right"><span>200.000đ</span></div>
                        </div>
                        <div class="text-right">Tổng số tiền: <span>200.000đ</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->
    <%- include('layouts/foot') %>
        <script src="/js/cart.js"></script>