<%- include('layouts/head') %>
<!-- Login Start -->
<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">    
                <div class="register-form">
                    <form action="" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User name</label>
                                <input class="form-control" name="user_name" type="text" placeholder="User name">
                            </div>                                          
                            <div class="col-md-6">
                                <label>Password</label>
                                <input class="form-control" name="password" type="password" placeholder="Password">
                            </div>
                            <div class="col-md-6">
                                <label>Full name</label>
                                <input class="form-control" name="full_name" type="text" placeholder="Full Name">
                            </div> 
                            <div class="col-md-6">
                                <label>Birthday</label>
                                <input class="form-control" name="birthday" type="date" placeholder="Birthday">
                            </div> 
                            <div class="col-md-6">
                                <label>Phone</label>
                                <input class="form-control" name="phone" type="tel" placeholder="Phone">
                            </div> 
                            <div class="col-md-6">
                                <label>Email</label>
                                <input class="form-control" name="email" type="email" placeholder="Email">
                            </div> 
                            <div class="col-md-12">
                                <label>Address</label>
                                <input class="form-control" name="address" type="text" placeholder="Address">
                            </div>      
                            <div class="col-md-12">
                                <input class="btn" type="submit" value="Đăng ký"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login End -->
<%- include('layouts/foot') %>
