<%- include('layouts/head') %>
<!-- Login Start -->
<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">    
                <div class="register-form">
                    <form action="" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Tên đăng nhập</label>
                                <input class="form-control" name="user_name" type="text" placeholder="Tên đăng nhập">
                            </div>                                          
                            <div class="col-md-6">
                                <label>Mật khẩu</label>
                                <input class="form-control" name="password" type="password" placeholder="Mật khẩu">
                            </div>
                            <div class="col-md-6">
                                <label>Họ tên</label>
                                <input class="form-control" name="full_name" type="text" placeholder="Họ tên">
                            </div> 
                            <div class="col-md-6">
                                <label>Ngày sinh</label>
                                <input class="form-control" name="birthday" type="date" placeholder="Ngày sinh">
                            </div> 
                            <div class="col-md-6">
                                <label>Số điện thoại</label>
                                <input class="form-control" name="phone" type="tel" placeholder="Số điện thoại">
                            </div> 
                            <div class="col-md-6">
                                <label>Email</label>
                                <input class="form-control" name="email" type="email" placeholder="Email">
                            </div> 
                            <div class="col-md-12">
                                <label>Địa chỉ</label>
                                <input class="form-control" name="address" type="text" placeholder="Địa chỉ">
                            </div>      
                            <div class="col-md-12">
                                <input class="btn" type="submit" value="Đăng ký"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login End -->
<%- include('layouts/foot') %>
